.menu-bar__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 100%;
  height: 64px;
  padding: 0 15px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.12);
}

.menu-bar__container .menu-bar__logo {
  position: absolute;
  left: 15px;
}

.menu-bar__container .menu-bar__logo img {
  max-width: 175px;
}

.menu-bar__container .menu-bar__item > ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

.menu-bar__container .menu-bar__item > ul > li > a {
  font-family: 'SST', sans-serif;
  color: black;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 4px 12px;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
}

.menu-bar__container .menu-bar__item > ul > li > a:hover {
  background: #EBEEF0;
}


@media only screen and (max-width: 900px) {
  .menu-bar__container {
    flex-direction: column;
    height: 128px;
    justify-content: space-around;
  }

  .menu-bar__container .menu-bar__logo {
    display: flex;
    padding: 0 15px;
    text-align: start;
    width: 100%;
    position: unset;
  }
}
