<section class="menu-bar__container">
  <div class="menu-bar__logo">
    <img
      src="assets/ps-logo.png"
      alt="Logo PSN Store"
      width="140px"
      height="32px"
    />
  </div>

  <div class="menu-bar__item">
    <ul>
      <li>
        <a href="">Novidades</a>
      </li>

      <li>
        <a href="">Coleções</a>
      </li>

      <li>
        <a href="">Ofertas</a>
      </li>

      <li>
        <a href="">PS5</a>
      </li>

      <li>
        <a href="">Assinaturas</a>
      </li>

      <li>
        <a href="">Navegar</a>
      </li>
    </ul>
  </div>
</section>
