@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

@font-face {
  font-family: 'SST';
  src: url('./assets/font/sst/SSTRg.TTF');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Shared-Nav-Icons';
  src: url(assets/font/sharedNav/sharedNav.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

*{
	padding: 0;
	margin: 0;
	border: 0;
  font-family: 'SST', sans-serif;
	box-sizing: border-box;
}

a {
  text-decoration: none;
  list-style: none;
}

app-root {
  display: flex;
  flex-direction: column;
}
