<app-banner
  src="assets/banners/firstBanner.png"
  descrition="Descontos em Dobro com PlayStation Plus"
  descritionDisplay="block"
  title="Descontos em Dobro com PlayStation Plus"
  text="Tire proveito das ofertas especiais em jogos! Os membros do PS Plus poupam em dobro!"
  button="Economize Já"
></app-banner>

<app-card-grid
  titleDisplay="none"
  type="games"
></app-card-grid>

<app-carousel
  carouselTitle= "10 melhores jogos no seu país"
></app-carousel>

<app-carousel
  carouselTitle= "Novos jogos"
></app-carousel>

<app-carousel
  carouselTitle= "Pré-venda"
></app-carousel>

<app-carousel
  carouselTitle= "Demonstrações"
></app-carousel>

<app-banner
  src="assets/banners/secBanner.png"
  descrition="Descobre o PlayStation Plus"
  descritionDisplay="block"
  title="Descobre o PlayStation Plus"
  text="Aproveite centenas de jogos de PS5, PS4 e clássicos, modo multijogador online e mais benefícios imperdíveis."
  button="Saiba Mais"
></app-banner>

<app-banner
  src="assets/banners/thirdBanner.png"
  descrition="Descontos em Dobro com PlayStation Plus"
  descritionDisplay="block"
  titleDisplay="none"
  text="Inscreva-se gratuitamente, complete missões e ganhe recompensas"
  button="Saiba Mais"
></app-banner>

<app-card-grid
  titleDisplay="block"
  type="category"
></app-card-grid>
