.card-games__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.card-games__container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card-games__container ul li {
  list-style: none;
  margin: 10px;
}

img {
  max-width: 415px;
  border-radius: 12px;
}

@media only  screen and (max-width: 13260px) {
  img {
    max-width: 300px;
  }
}

@media only screen and (max-width: 1300px) {
  img {
    max-width: 275px;
  }
}

@media only screen and (max-width: 900px) {
  img {
    max-width: 225px;
  }
}

@media only screen and (max-width: 700px) {
  .card-games__container ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  img {
    max-width: 100%;
  }
}

