<section class="banner__container">
  <div class="banner-img__container">
    <picture>
      <source srcset="{{srcMob}}" media="(max-width: 600px)">

      <img src="{{src}}" alt="{{descrition}}">
    </picture>
  </div>

  <div class="banner-txt__container">
    <div class="txt__container">
      <div>
        <h1 class="{{titleDisplay}}">
          {{title}}
        </h1>

        <p class="{{descritionDisplay}}">
          {{text}}
        </p>
      </div>

      <app-button-home label="{{button}}"></app-button-home>
    </div>
  </div>
</section>
