<section class="carousel-main__container">
  <header class="carousel-main__header">
    {{carouselTitle}}
  </header>
  <p-carousel
    [value]="games"
    [numVisible]="6"
    [numScroll]="6"
    [circular]="false"
    [indicatorsContentStyle]="{'padding': '5px 0'}"
    [indicatorStyle]="{'border-radius': '30px'}"
    [showIndicators]="indicatorsDisplay()"
    [showNavigators]="navigatorsDisplay()"
    [responsiveOptions]="responsiveOptions">
    <ng-template let-games pTemplate="item">
      <div class="product-item">
        <div class="product-item-content">
          <a href="#">
            <img src="{{games.src}}" alt="{{games.name}}">
          </a>
        </div>

        <span>
          {{games.name}}
        </span>
      </div>
    </ng-template>
  </p-carousel>
</section>
