.nav-bar__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  background-color: white;
  position: relative;
}

.nav-bar__section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.nav-bar__container .nav-bar__logo, .nav-bar__signIn  {
  text-align: center;
}

.nav-bar__container .nav-bar__logo {
  max-width: 100%;
  max-height: 40px;
}

.nav-bar__signIn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #0072ce;
  padding: 4px 15px;
  border-radius: 30px;
  transition: 0.2s ease-in-out;
}

.nav-bar__signIn:hover {
  background-color: #00439c;
  cursor: pointer;
}

.nav-bar__signIn > span {
  font-family: 'SST', sans-serif;
  font-size: 0.75rem;
  letter-spacing: 1px;
  font-weight: 600;
}
