.toolbar__container {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  padding: 0.3125rem;
  background-color: black;
}

.toolbar__container a {
  max-height: 2.25rem;
  max-width: 4.6875rem;
  line-height: 0;
}

.toolbar__container img {
  max-width: 100%;
}


@media only screen and (max-width: 700px) {
  .toolbar__container {
    display: none;
  }
}
